<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
                              <%= devise_error_messages! %>
                              <%= f.text_field :username, :autofocus => true, :placeholder => "username" %>
                              <br>
                              <%= f.email_field :email, :placeholder => "email" %>
                              <br>
                              <%= f.password_field :password, :placeholder => "password" %>
                              <br>
                              <%= f.password_field :password_confirmation, :placeholder => "confirm password" %>
                              <br>
                              <%= f.submit "Sign up", :class => "btn" %>
                            <% end %>