<<<<<<< HEAD
<% content_for :style do %>
<%= stylesheet_link_tag 'form' %>
<% end %>
<div id="content" class="back">
=======
>>>>>>> 0852a360a9903c058cf3a12e99f77c7bd48c0882
<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>

<<<<<<< HEAD
  <div>
  <%= f.email_field :email, :autofocus => true, :placeholder => 'email' %></div>
=======
  <div><%= f.label :email %><br />
  <%= f.email_field :email, :autofocus => true %></div>
>>>>>>> 0852a360a9903c058cf3a12e99f77c7bd48c0882

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

<<<<<<< HEAD
  <div><i>(leave blank if you don't want to change it)</i><br />
  <%= f.password_field :password, :autocomplete => "off", :placeholder => 'password' %></div>

  <div>
  <%= f.password_field :password_confirmation,:placeholder => 'confirm password' %></div>

  <div> <i>(we need your current password to confirm your changes)</i><br />
  <%= f.password_field :current_password,:placeholder => 'current password' %></div>

  <div><%= f.submit "Update", :class => 'btn' %></div>
=======
  <div><%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
  <%= f.password_field :password, :autocomplete => "off" %></div>

  <div><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
  <%= f.password_field :current_password %></div>

  <div><%= f.submit "Update" %></div>
>>>>>>> 0852a360a9903c058cf3a12e99f77c7bd48c0882
<% end %>

<h3>Cancel my account</h3>

<<<<<<< HEAD
<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete,:class => 'btn' %>.</p>

<%= link_to "Back", :back %>
</div>
=======
<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete %>.</p>

<%= link_to "Back", :back %>
>>>>>>> 0852a360a9903c058cf3a12e99f77c7bd48c0882
