<<<<<<< HEAD
<% content_for :style do %>
  <%= stylesheet_link_tag "form" %>
 <% end %>
<header>
<h2>Regitser</h2>
</header>
<div id="content">
=======
<h2>Regitser</h2>

>>>>>>> 0852a360a9903c058cf3a12e99f77c7bd48c0882
<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  
  <div><%= f.label :username %><br />
  <%= f.text_field :username, :autofocus => true %></div>
  
  <div><%= f.label :email %><br />
  <%= f.email_field :email %></div>

  <div><%= f.label :password %><br />
  <%= f.password_field :password %></div>

  <div><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.submit "Sign up" %></div>
<% end %>

<%= render "devise/shared/links" %>
<<<<<<< HEAD
</div>
=======
>>>>>>> 0852a360a9903c058cf3a12e99f77c7bd48c0882
