<!DOCTYPE html>
<html>
  <head>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag "main"%>
	<%= yield :script %>
	<%= javascript_include_tag "colours"%>
	<%= yield :script %>
  	<title>IdeaSource</title>
  	<p class="notice"><%= notice %></p>
  	<p class="alert"><%= alert %></p>
  </head>
  <body>
  	<header>
  		<a href="index.html">LOGO HERE</a>
  	</header>
  	<div id="profileBar">
  	</div>
  	<div id="content">
  		<section>
  			<div id="userDetails">
  			</div>
  			<div id="lists">
  			</div>
  		</section>
  		<aside>
  			<div id="discover">
  			</div>
  			<div id="notifications">
  				<h3> Notifications: </h3>
  				<ul>
  					<li>Ideasource just reached 100 users, yipee!</li>
  					<li><a href="discover.html.erb">Discover</a> more ideas!</li>
  					<li>IdeaSource is brought to you by toast and many other breakfast nums</li>
  				</ul>
  			</div>
  		</aside>
  	</div>
  	<footer>
  		<p> All rights reserved. <a href="about.html">About Ideasource</a> </p>
  	</footer>
  </body>
</html>
