<<<<<<< HEAD
  	<% content_for :style do %>
    <%= stylesheet_link_tag "about"%>
    <% end %>
    <input id="pageName" type="hidden" value="about">
  	<div id="content">
    <a href="homepage"><img id="logo" src="<%= asset_path 'logot2f1.png' %>" alt="IdeaSource Logo"/></a>
  	<div id="humans" class="text">
  	<img id="pic" src="<%= asset_path 'DiscoverSmall.png' %>" alt="IdeaSource Logo"/>
    <br>
  	<p>IdeaSource was developed in 2013 at the University of Waikato, for a 3rd year University Assignment by Daniel Manning and Haley Littlewood</p>
    <p>IdeaSource is a place where people can come when they need an idea for something or they have ideas about things but dont know what to do with them.</p>
  	</div>
  	<div id="howto" class="text">
  	<h3>Overview:</h3>
  	<p>People have ideas but don't know what to do with them, also people need ideas but cant think of any.
The solution is to get these people together so they can share and contribute to ideas.</p><br/>
<section id="images">
  	<figure tabindex="1">
  		<img id="pic" src="<%= asset_path 'homescreen.png' %>" alt="IdeaSource homescreen" contenteditable="false"/>
  		<figcaption contenteditable="false">Home page</figcaption>
  	</figure>
  	<figure tabindex="2">
  		<img id="pic" src="<%= asset_path 'mindmapTHUMB.png' %>" alt="IdeaSource Mindmap" contenteditable="false"/>
  		<figcaption contenteditable="false">Mindmap</figcaption>
  	</figure>
  	<figure tabindex="3">
  		<img id="pic" src="<%= asset_path 'search.png' %>" alt="IdeaSource Search" contenteditable="false"/>
  		<figcaption contenteditable="false">Search function</figcaption>
  	</figure>
</section>
<h3>Target Audience:</h3>
<p>Students, Companies, Philanthropists and the general public.</p>
<h4>Audience Scale: </h4>
<p> Global, starting small 10-100per day, growing to thousands of users per day.</p>

<h3>Main Feature:</h3>
<p>A searchable Mindmap of ideas, created and extended by users.</p>
  	

<br/>
  	
  		<video controls>
          <source src="<%= asset_path 'videoMINDMAP.mp4' %>" type="video/mp4">
          Your Browser is archaic. Please try updating or using a more modern browser
      </video>
<br/>
<p>This product is the only thing like it in existence. It combines crowd sourcing ideas with an intuitive user interface, meaning it is appealing and has a point of difference from generic forums. </p>

  	</div>
</div>
=======
  	<header>
  		<a href="homepage"><img id="logo" src="<%= asset_path 'logot2f1.png' %>" alt="IdeaSource Logo"/></a>
  	</header>
  	<div id="profileBar">
  	</div>
  	<div id="content">
  	<p>IdeaSource was developed in 2013 at the University of Waikato, for a 3rd year University Assignment by Daniel Manning and Haley Littlewood</p>
    <p>IdeaSource is a place where people can come when they need an idea for something or they have ideas about things but dont know what to do with them.</p>
  	</div>
  	<footer>
  		<p> All rights reserved.</p>
  	</footer>
>>>>>>> 0852a360a9903c058cf3a12e99f77c7bd48c0882
