<<<<<<< HEAD
<input id="pageName" type="hidden" value="home">
        <div class="container">
            
            <div class="hero-unit">
                <img id="logo" src="<%= asset_path 'logot2f1.png' %>" alt="IdeaSource Logo"/>
                <p>IdeaSource is a web application that allows users to share and find ideas </p>
            </div>

            <div class="row">
                <div class="span4">
                </div>
                <div class="span4">
                    <img src="<%= asset_path 'mindmap.png' %>" alt="A Mindmap">
               </div>
                <div class="span4">
                </div>
            </div>

           
        </div> <!-- /container -->
=======
<!DOCTYPE html>
<html>
<head>	
  <title>IdeaSource</title>
  	<% content_for :style do %>
  	<%= stylesheet_link_tag "main" %>
  	<%= stylesheet_link_tag "userHome" %>
  	<% end %>
  	<link rel="stylesheet" type="text/css" href="colours.css"/>
</head>
<body>
	<div id="profileBar">
		<% if user_signed_in? %>
  		<div class="userbutton"><%= link_to "User  Home", user_path(:username => current_user.username)	%></div>
  		<%else %>
  		<div class="userbutton">
  		<%= link_to "Sign in", new_user_session_path %> 
  		</div> 
  		<div class="userbutton"> <%= link_to "Sign up", new_user_registration_path %>
  		</div>
  		<% end %>
  	</div>
	<header>
		
  			<img id="logo" src="<%= asset_path 'logot2f1.png' %>" alt="IdeaSource Logo"/>
  		
  	</header>
  	<div id="content">
  		<section>
  			<img alt="Ideasource MindMap" src="<%= asset_path 'mindmap.png' %>"/>
  		</section>
  		<aside>
  			<p> IdeaSource is a web application that allows users to share and find ideas </p>
  		</aside>
  	</div>
  	<footer>
  		<p> All rights reserved. <%= link_to "About IdeaSource", about_path %> </p>
  	</footer>
</body>
</html>
>>>>>>> 0852a360a9903c058cf3a12e99f77c7bd48c0882
