<!DOCTYPE html>
<html>
  <head>
	<link rel="stylesheet" type="text/css" href="userhome.css"/>
  	<title>IdeaSource</title>
  </head>
  <body>
  	<header>
  		<a href="homepage">LOGO HERE</a>
  	</header>
  	<div id="profileBar">
  	<%if user_signed_in? %>
		Hi there <%= current_user.username %>! Not you?
		<%= link_to "Sign out", destroy_user_session_path, :method => :delete  %> 
  	</div>
  	<div id="content">
  		<section>
  			<div class="modules" id="userDetails">
  				<h3>About <%= current_user.username %></h3>
  				<table>
  					<tr>
  						<td>Ideas: 
  						<% if @ideacount.nil? ||@ideacount > 0 %>
  							0
  						<%else %>
  							<%= @ideacount %>
  						<% end %></td>
  						<td><%= %></td>
  						</tr><tr>
  						<td>Last Online: </td>
  						<td><%= current_user.last_sign_in_at%></td>
  						</tr><tr>
  						<td>Number of Sign-ins: </td>
  						<td><%= current_user.sign_in_count%></td>
  					</tr>
  				</table>
  				<%if user_signed_in? %>
  					<%= link_to "Change Password", edit_user_registration_path %>
  				<% end %>
  			</div>
  			<div id="lists" class="modules">
  				<h3>My Ideas:</h3>
  				<ul>
  				<% if @ideacount.nil? ||@ideacount > 0 %>
  					You haven't added any ideas yet.  
  				<% else %>		
  					<%= @ideas.each do |node| %>
   					<li><a href="/mindmap/<%= node.id %>">node.title</a></li>
  				<% end %>
  				</ul>
  			</div>
  		</section>
  		<aside>
  			<div id="score" class="modules">
  				<h3> <%= current_user.username %>'s Points:</h3>
  				<h1>
  					<% if current_user.userpoints.nil? %>
  						0
  					<% else %>
  						<%= current_user.userpoints %>
  					<% end %>
  				</h1>
  			</div>
  			<div id="notifications" class="modules">
  				<h3> Notifications: </h3>
  				<ul>
  					<li>Ideasource just reached 100 users, yipee!</li>
  					<li><a href="discover">Discover</a> more ideas!</li>
  					<li>IdeaSource is brought to you by toast and many other breakfast nums</li>
  				</ul>
  			</div>
  		</aside>
  		<% else %>
  		Sorry, you must be logged in to view this page.
  		<br/>
		<%= link_to "Sign in", new_user_session_path %> or <%= link_to "Sign up", new_user_registration_path %>
		</div>
		<% end %>
  	</div>
  	<footer>
  		<p> All rights reserved. <a href="about.html">About Ideasource</a> </p>
  	</footer>
  </body>
</html>
