<<<<<<< HEAD
  	<% if !user_signed_in? %>
    <% content_for :script do %>
		<script type="text/javascript">
		 	 window.location.href = "new_user_session_path";
		 </script>
     <% end %>
	<% end %>
	<% content_for :style do %>
		<%= stylesheet_link_tag "userHome" %>
    <%= stylesheet_link_tag "colours"%>
  	<% end %>
  	<input id="pageName" type="hidden" value="userHome">
  	<div id="content">
      <img id="logo" src="<%= asset_path 'logot2f1.png' %>" alt="IdeaSource Logo"/>
      <div class="row">
                <div id="left" class="span4">
                    <div class="modules" id="userDetails">
                      <h3>About <%= current_user.username %></h3>
                      <table>
                        <tr>
                          <td>Ideas: </td><td>
                          <% if @ideacount.nil? ||@ideacount == 0 %>
                            0
                          <% else %>
                            <%= @ideacount %>
                          <% end %></td>
                          <td><%= %></td>
                          </tr><tr>
                          <td>Last Online: </td>
                          <td><%= current_user.last_sign_in_at%></td>
                          </tr><tr>
                          <td>Number of Sign-ins: </td>
                          <td><%= current_user.sign_in_count%></td>
                        </tr>
                      </table>
                      <%if user_signed_in? %>
                        <%= link_to "Change Password", edit_user_registration_path %>
                      <% end %>
                    </div>

                      <div id="lists" class="modules">
                      <h3>My Ideas:</h3>
                      
                      
                      <% if @ideacount.nil? ||@ideacount == 0 %>
                        You haven't added any ideas yet.  
                        <br/>
                        <a href="/idea_nodes/new/0/0"> Add a new idea</a>
                      <% else %>
                        <a href="/idea_nodes/new/0/0"> Add a new idea</a>
                        <br/>
                        <br/>
                        <ul>
                        <% @ideas.each do |node| %>
                        <li><a href="/mindmap/<%= node.id %>"><%= node.title %></a></li>
                      <% end %>
                      <% end %>
                      </ul>
                    </div>

                </div>
                <div id="right" class="span4">
                    <div id="score" class="modules">
                    <h3> <%= current_user.username %>'s Points:</h3>
                    <h1>
                      <% if current_user.userpoints.nil? %>
                        0
                      <% else %>
                        <%= current_user.userpoints %>
                      <% end %>
                    </h1>
                  </div>
                  <div id="notifications" class="modules">
                    <h3> Notifications: </h3>
                    <ul>
                      <li>Ideasource just reached 100 users, yipee!</li>
                      <li><%= link_to "Discover", discover_path %> more ideas!</li>
                      <li>IdeaSource is brought to you by toast and many other breakfast nums</li>
                    </ul>
                  </div>
               </div>
            </div>
  		</div>
  	
=======
<!DOCTYPE html>
<html>
  <head>
  	<% if !user_signed_in? %>
		<script type="text/javascript">
		 	 window.location.href = "new_user_session_path";
		 </script>
	<% end %>
	<title>IdeaSource</title>
	<% content_for :style do %>
		<%= stylesheet_link_tag "userHome" %>
  	<% end %>
  </head>
  <body>
  <div id="profileBar">
  	<%if user_signed_in? %>
		Hi there <%= current_user.username %>! <br/> Not you?
		<div class="userbutton">
			<%= link_to 'Sign out', destroy_user_session_path, :method => :delete  %>
		</div>
		<!--<a rel="nofollow" data-method="delete" href="/users/sign_out">Sign out</a> -->
		<% end %>
	</div>
  	<header>
  		<a href="homepage"><img id="logo" src="<%= asset_path 'logot2f1.png' %>"/></a>
  	</header>
  	
  	<div id="content">
  		<section>
  			<div class="modules" id="userDetails">
  				<h3>About <%= current_user.username %></h3>
  				<table>
  					<tr>
  						<td>Ideas: </td><td>
  						<% if @ideacount.nil? ||@ideacount == 0 %>
  							0
  						<% else %>
  							<%= @ideacount %>
  						<% end %></td>
  						<td><%= %></td>
  						</tr><tr>
  						<td>Last Online: </td>
  						<td><%= current_user.last_sign_in_at%></td>
  						</tr><tr>
  						<td>Number of Sign-ins: </td>
  						<td><%= current_user.sign_in_count%></td>
  					</tr>
  				</table>
  				<%if user_signed_in? %>
  					<%= link_to "Change Password", edit_user_registration_path %>
  				<% end %>
  			</div>
  			<div id="lists" class="modules">
  				<h3>My Ideas:</h3>
  				
  				
  				<% if @ideacount.nil? ||@ideacount == 0 %>
  					You haven't added any ideas yet.  
  					<br/>
  					<a href="/idea_nodes/new/0/0"> Add a new idea yo</a>
  				<% else %>
  					<a href="/idea_nodes/new/0/0"> Add a new idea yo</a>
  					<br/>
  					<br/>
  					<ul>
  					<% @ideas.each do |node| %>
   					<li><a href="/mindmap/<%= node.id %>"><%= node.title %></a></li>
  				<% end %>
          <% end %>
  				</ul>
  			</div>
  		</section>
  		<aside>
  			<div id="score" class="modules">
  				<h3> <%= current_user.username %>'s Points:</h3>
  				<h1>
  					<% if current_user.userpoints.nil? %>
  						0
  					<% else %>
  						<%= current_user.userpoints %>
  					<% end %>
  				</h1>
  			</div>
  			<div id="notifications" class="modules">
  				<h3> Notifications: </h3>
  				<ul>
  					<li>Ideasource just reached 100 users, yipee!</li>
  					<li><%= link_to "Discover", discover_path %> more ideas!</li>
  					<li>IdeaSource is brought to you by toast and many other breakfast nums</li>
  				</ul>
  			</div>
  		</aside>
  		</div>
  	<footer>
  		<p> A+ Team 2013. All rights reserved. <br/><%= link_to "About IdeaSource", about_path %> </p>
  	</footer>
  </body>
</html>
>>>>>>> 0852a360a9903c058cf3a12e99f77c7bd48c0882
