<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
                          <%= f.text_field :username, :autofocus => true ,:placeholder => "username"%>
                          <br>
                          <%= f.password_field :password,:placeholder => "password" %>
                          <br>
                          <%= f.check_box :remember_me %> <%= f.label :remember_me %>
                          <br>
                          <%= f.submit "Sign in",:class => "btn" %>
                        <% end %>