<<<<<<< HEAD
<% content_for :style do %>
	<%= stylesheet_link_tag "form" %>
 <% end %>
 <header>
<h2>Sign in</h2>
</header>
<div id="content">
=======
<h2>Sign in</h2>

>>>>>>> 0852a360a9903c058cf3a12e99f77c7bd48c0882
<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <div><%= f.label :username %><br />
  <%= f.text_field :username, :autofocus => true %></div>

  <div><%= f.label :password %><br />
  <%= f.password_field :password %></div>

  <% if devise_mapping.rememberable? -%>
    <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
  <% end -%>

  <div><%= f.submit "Sign in" %></div>
<% end %>

<%= render "devise/shared/links" %>
<<<<<<< HEAD
</div>
=======
>>>>>>> 0852a360a9903c058cf3a12e99f77c7bd48c0882
