<%= form_for(@idea_node) do |f| %>
  <% if @idea_node.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@idea_node.errors.count, "error") %> prohibited this idea_node from being saved:</h2>

      <ul>
      <% @idea_node.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.hidden_field :rootId, :value => @root %>
  </div>
  <div class="field">
<<<<<<< HEAD
    <%= f.hidden_field :latitude %>
  </div>
  <div class="field">
    <%= f.hidden_field :longitude %>
  </div>
  <div class="field">
=======
>>>>>>> 0852a360a9903c058cf3a12e99f77c7bd48c0882
    <%= f.hidden_field :parentId, :value => @parent %>
  </div>
  <div class="field">
    <%= f.hidden_field :rating, :value => 1%>
  </div>
  <div class="field">
    <%= f.hidden_field :username, :value => current_user.username %>
  </div>
  <div class="field">
<<<<<<< HEAD
    <%= f.text_field :title, :placeholder => "Title" %>
  </div>
  <div class="field">
    <%= f.text_area :description, :placeholder => "Description" %>
  </div>
  <div class="field">
    <%= f.text_field :tag, :placeholder => "Tag" %>
  </div>
  <br/>
  <div class="actions">
    <%= f.submit :value => "Create Idea", :class => "btn" %>
  </div>
<% end %>

=======
    <%= f.label :title, :class => "text" %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description, :class => "text" %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :tag, :class => "text" %><br />
    <%= f.text_field :tag %>
  </div>
  <br/>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
>>>>>>> 0852a360a9903c058cf3a12e99f77c7bd48c0882
