<h1>Listing idea_nodes</h1>

<table>
  <tr>
    <th>Rootid</th>
    <th>parentid</th>
    <th>Title</th>
    <th>Description</th>
    <th>username</th>
    <th>Datecreated</th>
    <th>Datemodified</th>
    <th>Rating</th>
    <th>Tag</th>
    <th></th>
    <th></th>
  </tr>

<% @idea_nodes.each do |idea_node| %>
  <tr>
    <td><%= idea_node.rootId %></td>
    <td><%= idea_node.parentId %></td>
    <td><%= idea_node.title %></td>
    <td><%= idea_node.description %></td>
    <td><%= idea_node.username %></td>
    <td><%= idea_node.created_at %></td>
    <td><%= idea_node.updated_at %></td>
    <td><%= idea_node.rating %></td>
    <td><%= idea_node.tag %></td>
    <td><%= link_to 'Show', idea_node %></td>
    <td><%= link_to 'Edit', edit_idea_node_path(idea_node) %></td>
    <td><%= link_to 'Destroy', idea_node, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Idea node', new_idea_node_path %>
