<<<<<<< HEAD

<% content_for :style do %>
  <%= stylesheet_link_tag "form"%>
<% end %>
<% content_for :script do%>
	
	<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
	<script>
		if (navigator.geolocation) {
		  navigator.geolocation.getCurrentPosition(success,error);
		} else {
		  error('not supported');
		}
		function success(position){
			$('#idea_node_latitude').val(position.coords.latitude);
			$('#idea_node_longitude').val(position.coords.longitude);
		}
		function error(){
			$('#idea_node_latitude').val(0);
			$('#idea_node_longitude').val(0);
		}
		
	</script>
<% end %>
=======
<% content_for :style do %>
  <%= stylesheet_link_tag "newIdea"%>
<% end %>
<% content_for :script do%>
	<%= javascript_include_tag "newIdea"%>
<% end %>
<header>New Idea</header>
>>>>>>> 0852a360a9903c058cf3a12e99f77c7bd48c0882
<div id="content">
	<%= render 'form' %>
</div>