<p>
  <b>Rootid:</b>
  <%= @idea_node.rootId %>
</p>

<p>
  <b>Userid:</b>
  <%= @idea_node.userId %>
</p>

<p>
  <b>Title:</b>
  <%= @idea_node.title %>
</p>

<p>
  <b>Description:</b>
  <%= @idea_node.description %>
</p>

<p>
  <b>Datecreated:</b>
  <%= @idea_node.dateCreated %>
</p>

<p>
  <b>Datemodified:</b>
  <%= @idea_node.dateModified %>
</p>

<p>
  <b>Rating:</b>
  <%= @idea_node.rating %>
</p>

<p>
  <b>Tags:</b>
  <%= @idea_node.tags %>
</p>


<%= link_to 'Edit', edit_idea_node_path(@idea_node) %> |
<%= link_to 'Back', idea_nodes_path %>
