<<<<<<< HEAD


=======
header{
 
}

#profileBar{
  margin-top: 20px;
  margin-bottom: 20px;
  
  text-align: center;
}

.modules{
   border: solid;
   border-radius: 10px;
   border-width: 2px;
   margin-top: 20px;
   padding: 3px;
   padding-left: 10px;
   padding-right: 6px;
}

section{
  float: left;
  clear: left;
  width: 60%;
  height: 100px;
  margin-left: 4%;
  margin-right: 1%;
  padding-bottom: 10px;
}
aside{
  float: right;
  clear: right;
  width: 30%;
  height: auto;
  margin-right: 5%;
}

#userDetails{
  border-color: #52297D;
  	background-color: #2B2B2B;
}

#lists{
  border-color: #322AD1; 
  	background-color: #2B2B2B;
}

#score{
  border-color: #787878;
  	background-color: #2B2B2B;
}

#notifications{
  border-color: #FF3030;
  	background-color: #2B2B2B;
}

#notifications ul{
   	list-style-image:url("arrowbulletcopy.png");
}
>>>>>>> 0852a360a9903c058cf3a12e99f77c7bd48c0882
