<<<<<<< HEAD
#sign_in,#sign_up{
  display: block;
  padding: 5px;
}
=======
>>>>>>> 0852a360a9903c058cf3a12e99f77c7bd48c0882
.dark{
	background-color: #919090;
	font-family: 'Donegal One', arial;
}
.text{
	color: black;
	font-family: 'Donegal One', arial;
	text-decoration: none;
}
<<<<<<< HEAD
.hero-unit{
	padding-left: 20%;
	background: none;
	color: black;
	margin-bottom: 0px;
}
.row{
	padding-top: 0px;
}
#container{
	padding-top: 0px;
=======
#container{
	width: 80%;
	margin-left: auto;
	margin-right: auto;
>>>>>>> 0852a360a9903c058cf3a12e99f77c7bd48c0882
}
body{
	margin: 0px;
	background-image: url(<%= asset_path '2.png' %>);
	background-repeat: repeat-x;
	background-color: #a0a0a0;
}
header{
	width: 90%;
	margin: auto;
	margin-top: 0px;
	display: block;
	width: auto;
	text-align: center;
	background: none;
	color: #a0a0a0;
<<<<<<< HEAD
	font-family: 'Fugaz One', arial;
	font-size: 40px;
	clear: both;
=======
	font-family: 'Fugaz One','Goblin One', cursive;
	font-size: 40px;
>>>>>>> 0852a360a9903c058cf3a12e99f77c7bd48c0882
}
header img{
	margin-left: auto;
	margin-right: auto;
}

#content{
<<<<<<< HEAD
	margin-top: 5%;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
=======
	display: block;
	width: 100%;
	height: auto;
	min-height: 350px;
	overflow: auto;
	padding: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	background-color: #a0a0a0;
	background: none;
	clear: both;
}
#profileBar{
	display: block;
	width: 100%;
}
#profileBar div, .button{
	display: inline-block;
	background-color: #919090;
	border-radius: 5px;
	border: 1px double #DDD;
    box-shadow: 0 0 5px #333;
	margin-right: 10px;
	margin-top: 5px;
	padding-top: 2.5px;
	padding-bottom: 2.5px;
	padding-left: 6px;
	padding-right: 6px;
	cursor: pointer;
	font-family: 'Donegal One', arial;
	float: right;
>>>>>>> 0852a360a9903c058cf3a12e99f77c7bd48c0882
}
footer{
	width: 100%;
	padding: 5px;
	padding-left: 10px;
	background-color: ##a0a0a0;
	clear: both;
	float: left;
<<<<<<< HEAD
	text-align: center;
}
=======
	font-family: 'Donegal One', arial;
	font-size: 15px;
	text-align: center;
}
>>>>>>> 0852a360a9903c058cf3a12e99f77c7bd48c0882
