<<<<<<< HEAD
.text{
  font-size: 15px;
}
#title{
  font-size: 23px;
}
.subTitle{
  font-size: 19px;
  font-weight: bold;
}
#content{
  height: 500px;
=======
#content{
  height: 70%;
>>>>>>> 0852a360a9903c058cf3a12e99f77c7bd48c0882
}
.js-mindmap-active a.node {
  background:red;
  border: 2px solid white;
  -webkit-border-top-left-radius: 20px;
  -webkit-border-bottom-right-radius: 20px;
  -moz-border-radius-topleft: 20px;
  -moz-border-radius-bottomright: 20px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;  
}
.js-mindmap-active a.node.active {
  padding:5px 10px !important;
  border-width:5px !important;
}
.js-mindmap-active a.node.activeparent {
  padding:5px 10px !important;
  border-width:5px !important;
  background:#8B0000;
}
#popup{
  background: none repeat scroll 0 0 #919090;
    border: 1px solid #000000;
    border-radius: 10px 10px 10px 10px;
    cursor: default;
    display: none;
<<<<<<< HEAD
    height: 70%;
    width: 30%;
    min-height: 350px;
    min-width: 300px;
    position: absolute;
    z-index: 999;
    top:12%;
    left: 32%;
=======
    height: 450px;
    width: 490px;
    position: absolute;
    z-index: 999;
    top:12%;
    left: 35%;
>>>>>>> 0852a360a9903c058cf3a12e99f77c7bd48c0882
    overflow: auto;
}
/*Code block from http://www.html-form-guide.com/contact-form/simple-modal-popup-contact-form.html*/
#popup_bg{
  background: none repeat scroll 0 0 #000000;
    border: 1px solid #CECECE;
    bottom: 0;
    display: none;
    left: 0;
    opacity: 0.3;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1;
}
.wrapper{
  display: block;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
}
h2{
  text-align: center;
}
.icon{
<<<<<<< HEAD
  width:9%;
  height: 9%;
  min-width: 28px;
  min-height: 27px;
=======
  width:30px;
  height: 30px;
>>>>>>> 0852a360a9903c058cf3a12e99f77c7bd48c0882
  margin-left: 5px;
  cursor: pointer;
}
.button{
  float: none;
}
.buttons{
  display: block;
  width: auto;
<<<<<<< HEAD
  margin-left: 29%;
=======
  margin-left: 150px;
>>>>>>> 0852a360a9903c058cf3a12e99f77c7bd48c0882
}