#profileBar{
  margin-top: 5px;
  margin-right: 10px;
  margin-bottom:  10px;
  float: right;
  height: auto;
  width: 12%;
  background-color: #CCCBCB;
  border-radius: 10px;
  padding-bottom: 15px;
  padding-top: 15px;
}

header{
 	width: 85%;
 	float:left;
}

html body #profileBar .userbutton{
	text-align: center;
	border: 1px double #DDD;
    border-radius: 5px;
	display: inline-block;
	box-shadow: 0 0 5px #333;
	cursor: pointer;
	clear: both;
	margin-left: 6%;
	margin-right: 6%;
	float: none;
}

.userbutton a{
	text-decoration: none;
	background-color: #919090;
	color: black;
}

#content{
 clear: both; 
}

header img{
	margin-left: 12%;
}
