<p>Hello <%= @resource.email %>!</p>

<p>Someone has requested a link to change your password. You can do this through the link below.</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>If you didn't request this, please ignore this email.</p>
<<<<<<< HEAD
<p>Your password won't change until you access the link above and create a new one.</p>
=======
<p>Your password won't change until you access the link above and create a new one.</p>
>>>>>>> 0852a360a9903c058cf3a12e99f77c7bd48c0882
