<% content_for :style do %>
  <%= stylesheet_link_tag "discover" %>
<% end %>
<% content_for :script do%>
	<%= javascript_include_tag "discover" %>
<% end %>
<<<<<<< HEAD
			<div id="search">
				<input id="searchBar" type="text">
				<div onclick="return search();" id="searchButton" class="btn text">Search</div>
			</div>
			<input id="pageName" type="hidden" value="discover">
=======
		<header>Discover</header>
			<div id="search">
				<input id="searchBar" type="text"><div onclick="return search();" id="searchButton" class="dark">Search</div>
			</div>
>>>>>>> 0852a360a9903c058cf3a12e99f77c7bd48c0882
		<div id="content">
			<% @tags.each do |tag| %>
				<div id="<%= tag.name %>" class="tag"><%= link_to tag.name,search_path(:tag => tag.name,:sort_by => "none") %></div>
			<% end %>
		</div>