<% content_for :style do %>
  <%= stylesheet_link_tag "js-mindmap"%>
  <%= stylesheet_link_tag "mindmap" %>
<% end %>
<% content_for :script do%>
<<<<<<< HEAD
  <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.15/jquery-ui.min.js"></script>
  <%= javascript_include_tag "mindmap"%>
  <%= javascript_include_tag "raphael-min"%>
  <%= javascript_include_tag "js-mindmap"%>
<% end %>

    <div id="popup">
      <h2 id="title" class="text"></h2>
        <div class="wrapper">
          <label class="subTitle">Description: </label>
          <label id="desc" class="text"></label>
        </div>
        <div class="wrapper">
          <label class="subTitle">Author: </label>
          <label id="username" class="text"></label>
        </div>
        <div class="wrapper">
          <label class="subTitle">Created At: </label>
          <label id="created_at" class="text"></label>
        </div>
        <div class="wrapper">
          <label class="subTitle">Rating: </label>
          <label id="rating" class="text"></label>
          <img id="thumb_up" class="icon" src="<%= asset_path 'thumb_up.png' %>" alt="+1" >
          <img id="thumb_down" class="icon" src="<%= asset_path 'thumb_down.png' %>" alt="-1">
        </div>
      <div class="wrapper">
          <label class="subTitle">Location: </label>
          <label id="location" class="text"></label>
        </div>
      <br>
        <div class="buttons">
          <% if user_signed_in? %>
          <a id="newIdeaLink" class="" href="/idea_nodes/new/<%= @root.id %>">
            <div class='btn'>New Idea</div>
          </a>
          <% end %>
          <div class='btn' onclick="return hideInfo();">Close</div>
        </div>
        <br>
    </div>
    <div id="content">
      <div id="MindMapDiv">
          <%= getNodes(@root) %>
        </div>
    </div>
=======
	<%= javascript_include_tag "mindmap"%>
	<%= javascript_include_tag "raphael-min"%>
	<%= javascript_include_tag "js-mindmap"%>
<% end %>
		<div id="popup">
			<h2 id="title" class="text"></h2>
				<div class="wrapper">
					<label>Description: </label></br>
					<label id="desc" class="text"></label>
				</div>
			</br>
				<div class="wrapper">
					<label>Author: </label></br>
					<label id="username" class="text"></label>
				</div>
				</br>
				<div class="wrapper">
					<label>Created At: </label>
					<label id="created_at" class="text"></label>
				</div>
				</br>
				<div class="wrapper">
					<label>Rating: </label>
					<label id="rating" class="text"></label><img id="thumb_up" class="icon" src="<%= asset_path 'thumb_up.png' %>"><img id="thumb_down" class="icon" src="<%= asset_path 'thumb_down.png' %>">
				</div>
			</br>
			</br>
				<div class="buttons">
					<% if user_signed_in? %>
					<a id="newIdeaLink" class="text" href="/idea_nodes/new/<%= @root.id %>"><div class='dark button'>New Idea</div></a>
					<% end %>
					<div class='dark button' onclick="return hideInfo();">Close</div>
				</div>
		</div>
		<header>Mindmap</header>
		<div id="content">
			<div id="MindMapDiv">
			  	<%= getNodes(@root) %>
  			</div>
		</div>
		
>>>>>>> 0852a360a9903c058cf3a12e99f77c7bd48c0882
