<% content_for :style do %>
  <%= stylesheet_link_tag "search" %>
<% end %>
<% content_for :script do%>
	<%= javascript_include_tag "search" %>
<% end %>
<<<<<<< HEAD
			<div id="search">
				<input id="searchBar" type="text">
				<div onclick="return search('<%= params[:tag] %>');" id="searchButton" class="btn">Search</div>
			<br/>
			<input id="tag" type="hidden" value="<%= @tag %>">
			<div id="sortWraper" class="dark">
=======
		<header>Search</header>
			<div id="search">
				<input id="searchBar" type="text"><div onclick="return search('<%= params[:tag] %>');" id="searchButton" class="dark">Search</div>
			</br>
			<input id="tag" type="hidden" value="<%= @tag %>">
			<div class="dark sort">
>>>>>>> 0852a360a9903c058cf3a12e99f77c7bd48c0882
				<label>Sort By: </label>
				<select id="sort">
					<option>None</option>
					<option>Newest</option>
					<option>Oldest</option>
					<option>User</option>
					<option>Rating</option>
				</select>
			</div>
			</div>
		<div id='content'>
<<<<<<< HEAD
			<input id="pageName" type="hidden" value="discover">
			<% @ideas.each do |node| %>
			<a href="/mindmap/<%= node.id %>">
				<div class="idea">
					<div class="title"><h4><%= node.title %></h4></div>
=======
			<% @ideas.each do |node| %>
			<a href="/mindmap/<%= node.id %>">
				<div class="idea">
					<div class="title"><%= node.title %></div>
>>>>>>> 0852a360a9903c058cf3a12e99f77c7bd48c0882
					<div class="description"><%= node.description %></div>
					<div class="rating"><%= node.rating %></div>
					<div class="username"><%= node.username %></div>
					<div class="createdAt"><%= node.created_at %></div>
				</div> 
			</a>
			<% end %>
		</div>