<!DOCTYPE html>
<<<<<<< HEAD
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
		<link rel="icon" href="<%= asset_path "favicon.ico" %>">
        <%= stylesheet_link_tag 'bootstrap.min.css' %>
        <%= stylesheet_link_tag 'bootstrap-responsive.min.css' %>
        <%= stylesheet_link_tag 'main' %>
        <%= yield :style %>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.15/jquery-ui.min.js"></script>

        <!--[if lt IE 9]>
            <%= javascript_include_tag 'html5-3.6-respond-1.1.0.min.js' %>
        <![endif]-->
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->

        <!-- This code is taken from http://twitter.github.com/bootstrap/examples/hero.html -->

         <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <a class="brand">Idea Source</a>
                    <div class="nav-collapse collapse">
                        <ul class="nav">
                            <li id="home">
                                <%= link_to 'Home',root_url%>
                            </li>
                            <li id="about"><%= link_to 'About',about_path %></li>
                            <% if user_signed_in? %>
                            <li id="discover">
                                <%= link_to 'Discover', discover_path %>
                            </li>
                            <li id="userHome">
                                <%= link_to 'User Home', user_path(:username => current_user.username) %>
                            </li>
                            <li>
                                <a href="#">
                                    <div onclick="signOut();">Sign Out</div>
                                </a>
                            </li>
                            <% else %>
                            <li class="dropdown">
                                <a href="" data-toggle="dropdown">Sign In</a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <div id="sign_in">
                                            <%= render :partial => 'devise/sessions/form' %>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="" data-toggle="dropdown">Sign Up</a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <div id="sign_up">
                                            <%= render :partial => 'devise/registrations/form' %>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <% end %>
                        </ul>
                    </div><!--/.nav-collapse -->
                </div>
            </div>
            
            
        </div> 
        <%= yield %>
            <footer class="text">
                <p> A+ Team 2013. All rights reserved.</p>
            </footer>
    </body>
        <!--Javascript here so page loads faster-->
        <%= javascript_include_tag 'main' %>
        <%= yield :script %>
        <%= javascript_include_tag 'vendor/bootstrap.min.js' %>
        <script>
            var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>
=======
<html>
<head>
  <title>IdeaSource</title>
    <%= stylesheet_link_tag "main"%>
	<%= yield :style %>
	<!--Stylesheets for fonts-->
	<link href='http://fonts.googleapis.com/css?family=Fugaz+One' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Goblin+One' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Donegal+One' rel='stylesheet' type='text/css'>

	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.15/jquery-ui.min.js"></script>
	<%= javascript_include_tag "main"%>
	<%= yield :script %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

</head>
<body>
	<div id="container">
		<div id="profileBar">
			<%if user_signed_in? %>
				Signed in as <%= current_user.email %>. Not you?
				<%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
			<% else %>
				<%= link_to "Sign in", new_user_session_path %> or <%= link_to "Sign up", new_user_registration_path %>
			<% end %>
		</div>
		<%= yield %>
		<!--Needed for devise-->
		<p class="notice"><%= notice %></p>
		<p class="alert"><%= alert %></p>
	</div>
</body>
>>>>>>> 0852a360a9903c058cf3a12e99f77c7bd48c0882
</html>
