<!DOCTYPE html>
<html>
<head>
  <title>IdeaSource</title>

  	<%= stylesheet_link_tag "main"%>
	<%= yield :style %>
	<%= stylesheet_link_tag "colours"%>
	<%= stylesheet_link_tag "about"%>
	<%= yield :style %>
	<!--Stylesheets for fonts-->
	<link href='http://fonts.googleapis.com/css?family=Fugaz+One' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Goblin+One' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Donegal+One' rel='stylesheet' type='text/css'>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.15/jquery-ui.min.js"></script>
	<%= javascript_include_tag "main"%>
	<%= yield :script %>
  <%= csrf_meta_tags %>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
</head>
<body>
<%= yield %>
</body>
</html>
