<html>
<head>
	<title>Idea Source Mindmap</title>
	<%= stylesheet_link_tag "main"%>
	<%= yield :style %>
	<!--Stylesheets for fonts-->
	<link href='http://fonts.googleapis.com/css?family=Fugaz+One' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Goblin+One' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Donegal+One' rel='stylesheet' type='text/css'>

	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.15/jquery-ui.min.js"></script>
	<%= javascript_include_tag "main"%>
	<%= yield :script %>

</head>
<body>
	<div id="container">
		<div id="profileBar">
				<% if user_signed_in? %>
					<% #add user id here %>		
					<div id="profile1" class="dark"><%= link_to 'User Profile', user_path(current_user.username) %></div>
				<% end %>
		</div>
		<%= yield%>
		<footer>
			<span>&copy; A+ Team 2013</span>
		</footer>
	</div>
</body>
</html>
